.btn-container {
    justify-content: center;
}

.commitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 110px;
    background-color: #F4970F;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
}

.commitBtn:hover {
    background-color: #d6860e;
    cursor: pointer;
}

.commitBtn:disabled {
    opacity: 0.6; /* Adjust the opacity to control the dimness */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  }