@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

* link {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0px 10px #58925d inset;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  min-width: 375px;
  max-width: 565px;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 7%;
}

header img {
  width: 80%;
  height: auto;
  max-width: 400px;
}

.myList {
  list-style-type: none;
  padding: 0;
}

.todoActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #CEEAD0;
  border: 2px solid #77C47E;
  margin-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
}

#list-container {
  margin-top: 60px;
}

.myList {
  list-style-type: none;
  padding: 0;
}

.listInput {
display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaf5eb;
  border: 2px solid #77c47e;
  margin-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1rem;
}

.listInput:hover {
cursor: pointer;
}

.emptyListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaf5eb;
  margin-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1rem;
}

.emptyListInput {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  font-weight: 400;
}

.emptyListIcon Image {
  cursor: pointer;
}

.newHabit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #CEEAD0;
  border: 2px solid #77C47E;
  margin-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
}

.btn-container {
  justify-content: center;
}

.commitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 110px;
  background-color: #F2A51F;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.3rem;
}

.commitBtn:hover {
  background-color: #d88e0d;
  cursor: pointer;
}

.commitBtn:disabled {
  opacity: 0.6; /* Adjust the opacity to control the dimness */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
}

#prompt {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  max-width: 380px;
}

#plant-progress-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: auto;
  padding-top: 70px;
  width: 375px;
}

.plant-main {
  width: 100%;
  
}

.form-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed; /* Change from absolute to fixed to make it centered relative to the viewport */
  top: 40%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the element both horizontally and vertically */
  background-color: #f5fff6;
  width: 300px;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 0 15px rgb(173, 173, 173);
  padding: 24px;
  z-index: 1000; /* Set a high z-index value */
}

.popup h3 {
  margin-top: 10px;
  text-align: center;
}

.popupBtnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.popup p {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.midBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 100px;
  background-color: #77c47e;
  border: none;
  border-radius:50px;
  font-size: 1.3rem;
  color: white;
}

.midBtn:focus {
  box-shadow: 0 0 15px rgb(173, 173, 173);
}

.midBtn:hover {
  background-color: #6cb372;
  cursor: pointer;
}

.btn-bar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  max-width: 450px;
  min-width: 300px;
  height: 85px;
  background-color: #6cb372;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -3px 15px rgb(173, 173, 173);
}

.btn:hover {
  cursor: pointer;
}

#ListBtn:hover {
  background-image: url('/icons/Buttons/list-button-focus.png');
 }

 #FlowerBtn:hover {
  background-image: url('/icons/Buttons/flower-button-focus.png');
 }

 #SettingsBtn:hover {
  background-image: url('/icons/Buttons/settings-button-focus.png');
 }

 #HiveBtn:hover {
  background-image: url('/icons/Buttons/hive-button-focus.png');
 }

 .hive-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: #f5fff6;
  box-shadow: 0 0 5px rgb(173, 173, 173);
  margin: 5px 12px;
 }

 .hive-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding: 0 20px;
 }

 .hive-plant {
  object-fit: contain;
  width: 70%;
 }

 .hive-team-member-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 5px 0;
  color: rgb(48, 48, 48);
 }

 #profile-pic-large {
  height: 200px;
  width: 200px;
  background-size: cover;  /* Optional: Adjust the background size to cover the container */
  border-radius: 50%;
  margin-top: 60px;
}

#profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bee-with-shadow {
  margin-top: 20px;
}

#signin-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signin-form input {
  margin-bottom: 20px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #77c47e;
  padding-left: 10px;
  font-size: 1.2rem;
}

.signOutBtn {
  margin: 0px 10px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signOutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 110px;
  background-color: #F2A51F;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 1.3rem;
}

.signOutBtn:hover {
  background-color: #d88e0d;
  cursor: pointer;
}

/* Media Query for Small Screens */
@media screen and (max-width: 400px) {
  .popup {
    width: 50%;
  }
}

@media screen and (max-width: 565px) {
  body {
    box-shadow: none;
  }

  header {
    padding-top: 5%;
  
  }
}

@media screen and (min-height: 833px) {
  .hive-row:nth-of-type(1) {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  main {
    padding-top: 25px;
  }

  .hive-team-member-name {
    margin-bottom: 10px;;
  }
}



/* DEV TOOLS */

  /* Remove all button styling */
  button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }

  button:hover {
    cursor: pointer;
  }

  /* Create a small round orange button */
  #endRoutineBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 1rem;
  }

  #endRoutineBtn:hover {
    background-color: #d88e0d;
    cursor: pointer;
  }

  #showGrowthBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #6cb372;
    color: white;
    font-size: 1rem;
  }

  #showGrowthBtn:hover {
    background-color: #5e9e62;
    cursor: pointer;
  }

  .dev-btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 50px;
  }

  #body-inner {
    background-image: url('../../public/assets/Habitap-BG-blank.png');
    padding: 0;
  }

  .signOutBtn, .signInBtn, .registerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 110px;
    background-color: #F2A51F;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
    margin: 20px;
  }

  .signOutBtn:hover {
    cursor: pointer;
  }

  .signInBtn:hover {
    cursor: pointer;
  }

  .registerBtn:hover {
    cursor: pointer;
  }