@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 667px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid lime;
}

#habitap-header {
  font-family: 'Rozha One', serif;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}