.mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 140px;
    background-color: #77C47E;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
}

.mainBtn:hover {
    background-color: #6cb372;
    cursor: pointer;
}

.btn-container {
    justify-content: center;
}